.navbar-scroll {
    box-shadow: 1px 1px 1px grey;
}

.navLogo {
    margin-right: -10%;
}

.logomarca {
    width: 35%;
}

.icon-social {
    width: 30px;
    margin-top: 10px;
}

.ul-nav {
    display: inline;
    list-style: none;
}

.ul-nav {
    position: absolute;
    margin:0px;
    width: 100%;
    list-style:none;
    margin-left: 490px;
    margin-top: 5px;
}

.ul-nav li {
    display: inline;
}

.ul-nav li a {
    text-decoration: none;
    padding: 2px 10px;
    float:left;
}

.ul-nav li a p {
    margin-top: 5px;
    padding-left: 35px;
    font-size: 13pt;
    padding-top: 10px;
}

.menu-link {
    color: #808080;
    text-decoration: none;
}

.menu-link p {
    padding-right: 35%;
    padding-bottom: 16%;
}

.menu-link:hover {
    text-decoration: none;
}


.nav-link p {
    color: #808080;
    font-family: Verdana;
}

.nav-link p:hover {
    color: #ff9e5e;
}

.titulo-portal {
    color: #000;
}

.portal{
    margin-top: 15%;
}

.titulo-portal {
    color: #ff9e5e;
    font-family: Arial;
    font-size: 40pt;
    margin-bottom: 70px;
}

.portal-noticias {
    position: relative;
    width: 100%;
    height: 500px;
    background: #f2f2f2;  
}

.noticia-img img {
    width: 650px;
    height: 450px;
    margin-top: 5%;
    border-radius: 5px;
}

.titulo-noticia h1 {
    margin-top: 10px;
}

.noticia h1 {
    margin-top: 15%;   
    font-size: 40pt;
}

.noticia p {
    font-size: 15pt;
    text-align: justify;
    color: #808080;
}

.btn-saiba-mais {
    background-color: #ff9e5e;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 40%;
    height: 10%;
    border-radius: 25px;
    box-shadow: #b7b7b7 2px 2px 1px;
}

.btn-saiba-mais:hover {
    background-color: #f57826;
}

.porta-mapa-escolas h3 {
    color: #ff9e5e;
    font-family: Arial;
    font-size: 30pt;
    margin-top: 20px;
    margin-bottom: 20px;
}